nav{
    display: flex;
    align-items: center;
    line-height: 0;
    padding-block: 20px;
}

nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 24px;
    padding-block: 8px;
}

